@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #14b8a6;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0d9488;
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
