@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #14b8a6;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0d9488;
}
